[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # Too few public methods (0/2) (too-few-public-methods)
    W0221, # Parameters differ from overridden
    W0237, # Parameter has been renamed to.. in overridden
good-names=
    id,

[SIMILARITIES]

ignore-imports=yes
