alembic==1.8.1
argcomplete==1.12.3
astroid==2.11.2
black==22.1.0
certifi==2020.6.20
cfgv==3.3.1
click==8.0.3
colorama==0.4.4
coverage==6.5.0
dependency-injector==4.40.0
dill==0.3.4
distlib==0.3.6
filelock==3.8.0
Flask==2.2.2
Flask-Injector==0.14.0
greenlet==1.1.2
identify==2.5.6
injector==0.20.1
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.7.1
Mako==1.2.1
MarkupSafe==2.1.1
mccabe==0.7.0
mongoengine==0.24.2
mongomock==4.1.2
mypy-extensions==0.4.3
nodeenv==1.7.0
packaging==21.2
pathspec==0.9.0
pipx==0.16.4
platformdirs==2.5.1
pre-commit==2.20.0
psycopg2==2.9.3
pylint==2.13.1
pymongo==4.2.0
pyparsing==2.4.7
PyYAML==6.0
sentinels==1.0.0
six==1.16.0
SQLAlchemy==1.4.39
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
userpath==1.7.0
virtualenv==20.16.5
Werkzeug==2.2.2
wincertstore==0.2
wrapt==1.14.0
autoflake==1.7.5